html
  height 100%
body
  font-size 13px
  background-color #f0f0f0
  height 100%
  
body::-webkit-scrollbar-track
  background-color none
  border-radius 10px
  
body::-webkit-scrollbar
  width 8px
  height 8px
  background-color none
  

body::-webkit-scrollbar-thumb
  border-radius 10px
  background-color #C4C4C4
  